@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');

$DefaultFonts: 'Maven Pro', sans-serif;
$PrimaryColor: rgb(92, 10, 199);
$PrimaryHoverColor: rgb(123, 31, 243);
$ErrorColor: #ff5119;
$PrimaryBorderColor: #dfe5e4;

$SmallFontSize: 12px;
$NormalFontSize: 16px;
$LargeFontSize: 18px;
